In [2]:
import pandas as pd

In [3]:
utube=pd.read_csv(r"D:\DATA SCIENCE\DATASET\youtube_ad_revenue.csv")

In [4]:
utube.duplicated().sum()

np.int64(2400)

In [5]:
utube.drop_duplicates(inplace=True)

In [6]:
utube.isnull().sum()

video_id                   0
date                       0
views                      0
likes                   6000
comments                6000
watch_time_minutes      6000
video_length_minutes       0
subscribers                0
category                   0
device                     0
country                    0
ad_revenue_usd             0
dtype: int64

In [7]:
utube['likes']=utube['likes'].fillna(utube['likes'].mean())
utube['comments']=utube['comments'].fillna(utube['comments'].mean())
utube['watch_time_minutes']=utube['watch_time_minutes'].fillna(utube['watch_time_minutes'].mean())

In [8]:
utube.count()

video_id                120000
date                    120000
views                   120000
likes                   120000
comments                120000
watch_time_minutes      120000
video_length_minutes    120000
subscribers             120000
category                120000
device                  120000
country                 120000
ad_revenue_usd          120000
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in utube.select_dtypes(include=["object"]).columns:
    utube[col] = le.fit_transform(utube[col])

In [10]:
utube

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd
0,2326,0,9936,1221.0,320.000000,26497.21418,2.862137,228086,1,2,3,203.178237
1,2733,0,10017,642.0,346.000000,15209.74744,23.738069,736015,2,3,1,140.880508
2,4205,0,10097,1979.0,187.000000,57332.65850,26.200634,240534,0,2,1,360.134007
3,3421,0,10034,1191.0,242.000000,31334.51777,11.770340,434482,1,1,4,224.638261
4,2804,0,9889,1858.0,477.000000,15665.66643,6.635854,42030,0,1,1,165.514388
...,...,...,...,...,...,...,...,...,...,...,...,...
122395,2115,0,9853,1673.0,147.000000,42075.70489,25.490195,210818,0,3,5,280.986396
122396,3212,0,10128,1709.0,63.000000,57563.70304,16.229133,878860,4,0,4,354.612981
122397,3261,0,10267,700.0,274.349842,27549.71466,23.822365,576756,5,3,1,203.643106
122398,3624,0,10240,1616.0,106.000000,56967.38438,7.753099,585138,4,1,4,351.525811
122399,64,0,9931,770.0,274.349842,38466.83714,27.305703,517587,5,2,1,253.842824

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
from sklearn.preprocessing import StandardScaler
num_cols = utube.drop(columns=['ad_revenue_usd']).select_dtypes(include=['float64','int64']).columns
scaler = StandardScaler()
utube[num_cols] = scaler.fit_transform(utube[num_cols])
utube.head()

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd
0,-0.124618,0.0,-0.638847,0.239775,0.360982,-0.872393,-1.627204,-0.950903,-0.875626,0.447557,0.298776,203.178237
1,0.157727,0.0,0.171818,-0.903658,0.566579,-1.764055,0.954887,0.810515,-0.290992,1.342431,-0.876119,140.880508
2,1.178887,0.0,0.972474,1.736705,-0.690726,1.563477,1.259475,-0.907735,-1.460260,0.447557,-0.876119,360.134007
3,0.635009,0.0,0.341957,0.180530,-0.255809,-0.490266,-0.525371,-0.235154,-0.875626,-0.447318,0.886223,224.638261
4,0.206982,0.0,-1.109233,1.497749,1.602472,-1.728039,-1.160443,-1.596116,-1.460260,-0.447318,-0.876119,165.514388

In [13]:
utube.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120000 entries, 0 to 122399
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   video_id              120000 non-null  float64
 1   date                  120000 non-null  float64
 2   views                 120000 non-null  float64
 3   likes                 120000 non-null  float64
 4   comments              120000 non-null  float64
 5   watch_time_minutes    120000 non-null  float64
 6   video_length_minutes  120000 non-null  float64
 7   subscribers           120000 non-null  float64
 8   category              120000 non-null  float64
 9   device                120000 non-null  float64
 10  country               120000 non-null  float64
 11  ad_revenue_usd        120000 non-null  float64
dtypes: float64(12)
memory usage: 11.9 MB

FEATURES ENGINEERING

In [14]:
utube['engagement_rate']=(utube['likes']+utube['comments'])/utube['views']

In [15]:
utube

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd,engagement_rate
0,-0.124618,0.0,-0.638847,0.239775,3.609822e-01,-0.872393,-1.627204,-0.950903,-0.875626,0.447557,0.298776,203.178237,-0.940377
1,0.157727,0.0,0.171818,-0.903658,5.665792e-01,-1.764055,0.954887,0.810515,-0.290992,1.342431,-0.876119,140.880508,-1.961840
2,1.178887,0.0,0.972474,1.736705,-6.907257e-01,1.563477,1.259475,-0.907735,-1.460260,0.447557,-0.876119,360.134007,1.075586
3,0.635009,0.0,0.341957,0.180530,-2.558089e-01,-0.490266,-0.525371,-0.235154,-0.875626,-0.447318,0.886223,224.638261,-0.220141
4,0.206982,0.0,-1.109233,1.497749,1.602472e+00,-1.728039,-1.160443,-1.596116,-1.460260,-0.447318,-0.876119,165.514388,-2.794923
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122395,-0.270994,0.0,-1.469529,1.132404,-1.007029e+00,0.358242,1.171603,-1.010786,-1.460260,1.342431,1.473670,280.986396,-0.085316
122396,0.490021,0.0,1.282729,1.203498,-1.671265e+00,1.581729,0.026126,1.305878,0.878277,-1.342193,0.886223,354.612981,-0.364666
122397,0.524013,0.0,2.673870,-0.789117,4.494937e-16,-0.789250,0.965313,0.258229,1.462911,1.342431,-0.876119,203.643106,-0.295122
122398,0.775834,0.0,2.403648,1.019838,-1.331239e+00,1.534622,-1.022254,0.287297,0.878277,-0.447318,0.886223,351.525811,-0.129554
122399,-1.693819,0.0,-0.688888,-0.650878,4.494937e-16,0.073157,1.396158,0.053041,1.462911,0.447557,-0.876119,253.842824,0.944824

In [16]:
utube['avg_watch_time_per_view'] = utube['watch_time_minutes'] / utube['views']
utube

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd,engagement_rate,avg_watch_time_per_view
0,-0.124618,0.0,-0.638847,0.239775,3.609822e-01,-0.872393,-1.627204,-0.950903,-0.875626,0.447557,0.298776,203.178237,-0.940377,1.365573
1,0.157727,0.0,0.171818,-0.903658,5.665792e-01,-1.764055,0.954887,0.810515,-0.290992,1.342431,-0.876119,140.880508,-1.961840,-10.267022
2,1.178887,0.0,0.972474,1.736705,-6.907257e-01,1.563477,1.259475,-0.907735,-1.460260,0.447557,-0.876119,360.134007,1.075586,1.607731
3,0.635009,0.0,0.341957,0.180530,-2.558089e-01,-0.490266,-0.525371,-0.235154,-0.875626,-0.447318,0.886223,224.638261,-0.220141,-1.433707
4,0.206982,0.0,-1.109233,1.497749,1.602472e+00,-1.728039,-1.160443,-1.596116,-1.460260,-0.447318,-0.876119,165.514388,-2.794923,1.557869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122395,-0.270994,0.0,-1.469529,1.132404,-1.007029e+00,0.358242,1.171603,-1.010786,-1.460260,1.342431,1.473670,280.986396,-0.085316,-0.243780
122396,0.490021,0.0,1.282729,1.203498,-1.671265e+00,1.581729,0.026126,1.305878,0.878277,-1.342193,0.886223,354.612981,-0.364666,1.233097
122397,0.524013,0.0,2.673870,-0.789117,4.494937e-16,-0.789250,0.965313,0.258229,1.462911,1.342431,-0.876119,203.643106,-0.295122,-0.295171
122398,0.775834,0.0,2.403648,1.019838,-1.331239e+00,1.534622,-1.022254,0.287297,0.878277,-0.447318,0.886223,351.525811,-0.129554,0.638455
122399,-1.693819,0.0,-0.688888,-0.650878,4.494937e-16,0.073157,1.396158,0.053041,1.462911,0.447557,-0.876119,253.842824,0.944824,-0.106196

In [17]:
utube.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120000 entries, 0 to 122399
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   video_id                 120000 non-null  float64
 1   date                     120000 non-null  float64
 2   views                    120000 non-null  float64
 3   likes                    120000 non-null  float64
 4   comments                 120000 non-null  float64
 5   watch_time_minutes       120000 non-null  float64
 6   video_length_minutes     120000 non-null  float64
 7   subscribers              120000 non-null  float64
 8   category                 120000 non-null  float64
 9   device                   120000 non-null  float64
 10  country                  120000 non-null  float64
 11  ad_revenue_usd           120000 non-null  float64
 12  engagement_rate          120000 non-null  float64
 13  avg_watch_time_per_view  120000 non-null  float64
dtypes: float64(14)
memory usage: 13.7 MB

5-MODEL REGRESSION

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x=utube.drop(columns=["ad_revenue_usd","video_id","date"],errors="ignore")
y=utube["ad_revenue_usd"]

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor  
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

In [26]:
models = {
    "Linear Regression": LinearRegression(),
    "Decision Tree": DecisionTreeRegressor(random_state=42),
    "Random Forest": RandomForestRegressor(random_state=42),
    "Gradient Boosting": GradientBoostingRegressor(random_state=42),
    "XGBoost": XGBRegressor(random_state=42)
}

results = {}

for name, model in models.items():
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    
    mae = mean_absolute_error(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2 = r2_score(y_test, y_pred)
    
    results[name] = {"MAE": mae, "RMSE": rmse, "R²": r2}

# Convert results to DataFrame for easy comparison
results_df = pd.DataFrame(results).T
results_df

                        MAE       RMSE        R²
Linear Regression  3.086804  13.477846  0.952589
Decision Tree      5.478177  19.603536  0.899700
Random Forest      3.629201  13.936387  0.949309
Gradient Boosting  3.660180  13.520565  0.952288
XGBoost            4.204330  13.941706  0.949270

In [ ]:
import pickle

# Save model as pickle
with open("Linear Regression.pkl", "wb") as f:
    pickle.dump(model, f)

print("✅ Model saved as Linear Regression.pkl")

✅ Model saved as Linear Regression.pkl