In [1]:
import pandas as pd

In [2]:
utube=pd.read_csv(r"D:\DATA SCIENCE\DATASET\youtube_ad_revenue.csv")

In [4]:
utube.duplicated().sum()

np.int64(2400)

In [14]:
utube.drop_duplicates(inplace=True)

In [15]:
utube.isnull().sum()

video_id                0
date                    0
views                   0
likes                   0
comments                0
watch_time_minutes      0
video_length_minutes    0
subscribers             0
category                0
device                  0
country                 0
ad_revenue_usd          0
dtype: int64

In [16]:
utube['likes']=utube['likes'].fillna(utube['likes'].mean())
utube['comments']=utube['comments'].fillna(utube['comments'].mean())
utube['watch_time_minutes']=utube['watch_time_minutes'].fillna(utube['watch_time_minutes'].mean())

In [17]:
utube.count()

video_id                120000
date                    120000
views                   120000
likes                   120000
comments                120000
watch_time_minutes      120000
video_length_minutes    120000
subscribers             120000
category                120000
device                  120000
country                 120000
ad_revenue_usd          120000
dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in utube.select_dtypes(include=["object"]).columns:
    utube[col] = le.fit_transform(utube[col])

In [19]:
utube

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd
0,2326,107,9936,1221.0,320.000000,26497.214184,2.862137,228086,1,2,3,203.178237
1,2733,105,10017,642.0,346.000000,15209.747445,23.738069,736015,2,3,1,140.880508
2,4205,165,10097,1979.0,187.000000,57332.658498,26.200634,240534,0,2,1,360.134008
3,3421,233,10034,1191.0,242.000000,31334.517771,11.770340,434482,1,1,4,224.638261
4,2804,323,9889,1858.0,477.000000,15665.666434,6.635854,42030,0,1,1,165.514388
...,...,...,...,...,...,...,...,...,...,...,...,...
122395,2115,188,9853,1673.0,147.000000,42075.704885,25.490195,210818,0,3,5,280.986396
122396,3212,34,10128,1709.0,63.000000,57563.703040,16.229133,878860,4,0,4,354.612981
122397,3261,1,10267,700.0,274.396636,27549.714659,23.822365,576756,5,3,1,203.643106
122398,3624,196,10240,1616.0,106.000000,56967.384382,7.753099,585138,4,1,4,351.525811
122399,64,16,9931,770.0,274.396636,38466.837135,27.305703,517587,5,2,1,253.842824

In [ ]:
from sklearn.preprocessing import StandardScaler

In [29]:
from sklearn.preprocessing import StandardScaler
num_cols = utube.drop(columns=['ad_revenue_usd']).select_dtypes(include=['float64','int64']).columns
scaler = StandardScaler()
utube[num_cols] = scaler.fit_transform(utube[num_cols])
utube.head()

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd
0,-0.124618,-0.709242,-0.638847,0.239770,0.360964,-0.872405,-1.627204,-0.950903,-0.875626,0.447557,0.298776,203.178237
1,0.157727,-0.728234,0.171818,-0.903663,0.566561,-1.764067,0.954887,0.810515,-0.290992,1.342431,-0.876119,140.880508
2,1.178887,-0.158485,0.972474,1.736700,-0.690744,1.563465,1.259475,-0.907735,-1.460260,0.447557,-0.876119,360.134008
3,0.635009,0.487231,0.341957,0.180525,-0.255827,-0.490278,-0.525371,-0.235154,-0.875626,-0.447318,0.886223,224.638261
4,0.206982,1.341855,-1.109233,1.497744,1.602453,-1.728051,-1.160443,-1.596116,-1.460260,-0.447318,-0.876119,165.514388

In [30]:
utube.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120000 entries, 0 to 122399
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   video_id              120000 non-null  float64
 1   date                  120000 non-null  float64
 2   views                 120000 non-null  float64
 3   likes                 120000 non-null  float64
 4   comments              120000 non-null  float64
 5   watch_time_minutes    120000 non-null  float64
 6   video_length_minutes  120000 non-null  float64
 7   subscribers           120000 non-null  float64
 8   category              120000 non-null  float64
 9   device                120000 non-null  float64
 10  country               120000 non-null  float64
 11  ad_revenue_usd        120000 non-null  float64
dtypes: float64(12)
memory usage: 11.9 MB

FEATURES ENGINEERING

In [33]:
utube['engagement_rate']=(utube['likes']+utube['comments'])/utube['views']

In [34]:
utube

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd,engagement_rate
0,-0.124618,-0.709242,-0.638847,0.239770,0.360964,-0.872405,-1.627204,-0.950903,-0.875626,0.447557,0.298776,203.178237,-0.940341
1,0.157727,-0.728234,0.171818,-0.903663,0.566561,-1.764067,0.954887,0.810515,-0.290992,1.342431,-0.876119,140.880508,-1.961976
2,1.178887,-0.158485,0.972474,1.736700,-0.690744,1.563465,1.259475,-0.907735,-1.460260,0.447557,-0.876119,360.134008,1.075562
3,0.635009,0.487231,0.341957,0.180525,-0.255827,-0.490278,-0.525371,-0.235154,-0.875626,-0.447318,0.886223,224.638261,-0.220209
4,0.206982,1.341855,-1.109233,1.497744,1.602453,-1.728051,-1.160443,-1.596116,-1.460260,-0.447318,-0.876119,165.514388,-2.794902
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122395,-0.270994,0.059919,-1.469529,1.132399,-1.007047,0.358230,1.171603,-1.010786,-1.460260,1.342431,1.473670,280.986396,-0.085300
122396,0.490021,-1.402437,1.282729,1.203493,-1.671284,1.581717,0.026126,1.305878,0.878277,-1.342193,0.886223,354.612981,-0.364684
122397,0.524013,-1.715799,2.673870,-0.789122,0.000352,-0.789262,0.965313,0.258229,1.462911,1.342431,-0.876119,203.643106,-0.294992
122398,0.775834,0.135886,2.403648,1.019833,-1.331258,1.534610,-1.022254,0.287297,0.878277,-0.447318,0.886223,351.525811,-0.129564
122399,-1.693819,-1.573362,-0.688888,-0.650883,0.000352,0.073145,1.396158,0.053041,1.462911,0.447557,-0.876119,253.842824,0.944321

In [36]:
utube['avg_watch_time_per_view'] = utube['watch_time_minutes'] / utube['views']
utube

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd,engagement_rate,avg_watch_time_per_view
0,-0.124618,-0.709242,-0.638847,0.239770,0.360964,-0.872405,-1.627204,-0.950903,-0.875626,0.447557,0.298776,203.178237,-0.940341,1.365592
1,0.157727,-0.728234,0.171818,-0.903663,0.566561,-1.764067,0.954887,0.810515,-0.290992,1.342431,-0.876119,140.880508,-1.961976,-10.267093
2,1.178887,-0.158485,0.972474,1.736700,-0.690744,1.563465,1.259475,-0.907735,-1.460260,0.447557,-0.876119,360.134008,1.075562,1.607719
3,0.635009,0.487231,0.341957,0.180525,-0.255827,-0.490278,-0.525371,-0.235154,-0.875626,-0.447318,0.886223,224.638261,-0.220209,-1.433742
4,0.206982,1.341855,-1.109233,1.497744,1.602453,-1.728051,-1.160443,-1.596116,-1.460260,-0.447318,-0.876119,165.514388,-2.794902,1.557880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122395,-0.270994,0.059919,-1.469529,1.132399,-1.007047,0.358230,1.171603,-1.010786,-1.460260,1.342431,1.473670,280.986396,-0.085300,-0.243772
122396,0.490021,-1.402437,1.282729,1.203493,-1.671284,1.581717,0.026126,1.305878,0.878277,-1.342193,0.886223,354.612981,-0.364684,1.233087
122397,0.524013,-1.715799,2.673870,-0.789122,0.000352,-0.789262,0.965313,0.258229,1.462911,1.342431,-0.876119,203.643106,-0.294992,-0.295176
122398,0.775834,0.135886,2.403648,1.019833,-1.331258,1.534610,-1.022254,0.287297,0.878277,-0.447318,0.886223,351.525811,-0.129564,0.638450
122399,-1.693819,-1.573362,-0.688888,-0.650883,0.000352,0.073145,1.396158,0.053041,1.462911,0.447557,-0.876119,253.842824,0.944321,-0.106178